<% @title = "#{@user.nickname}: 発売日一覧" %>
<% content_for :head do %>
  <link rel="alternate" type="application/rss+xml" title="<%= @title %>: <%= Ishibashi::Application.config.title %>" href="<%= rss_feed_url(@user) %>" />
<% end %>

<%= render :partial => 'products/list', :locals =>
  {
    :login_user => @login_user,
    :user => @user,
    :user_products => @user_products,
    :shelf_items => @shelf_items
  } %>

<%= paginate(@user_products) %>

<div class="feeds">
  <%= link_to(rss_feed_url(@user)) do %>
    <i class="icon icon-rss"></i> RSSフィード
  <% end %>

  <a href='http://cloud.feedly.com/#subscription%2Ffeed%2Fhttp%3A%2F%2F<%= u rss_feed_url(@user) %>'  target='blank'>
    <i class="icon feedly"><%= image_tag('feedly-icon.svg') %></i>
    Feedlyで見る
  </a>

  <%= link_to ics_feed_url(@user, 'webcal') do %>
    <i class="icon icon-calendar"></i>
    iCalendar
  <% end %>

  <%= link_to "http://www.google.com/calendar/render?cid=#{u ics_feed_url(@user)}", 'target' => '_blank' do %>
    <i class="icon icon-calendar"></i>
    Googleカレンダーで見る
  <% end %>
</div>
