<%
  @title = "キーワード一覧・編集"
  categories = {'books' => '本', 'dvd' => 'DVD/ブルーレイ', 'music' => '音楽CD', 'software' => 'PCソフト', 'videogames' => 'TVゲーム'}
%>

<h2>キーワード</h2>

<ul class="keyword-fields">
  <% categories.each do |id, title| %>
    <li id="<%= id %>">
      <h3><%= title %></h3>
      <ul class="keywords">
        <%= render :partial => 'user_keyword', :collection => (@user_keywords[id] || []) %>
      </ul>

      <%= form_for(Keyword.new(:category => id), :format => :json) do |f| %>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= f.text_field :value, :class => 'mdl-textfield__input' %>
          <%= f.label :value, 'キーワード', :class => 'mdl-textfield__label' %>
          <%= f.hidden_field :category %>
        </div>
        <div class="buttons">
          <button class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">add</i>
          </button>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>

<div>
  <h2>その他の設定</h2>
  <%= form_for @login_user, :url => {:controller => :users, :action => :update}, :html => {:id => 'user-settings'} do |f| %>
    <div>
      ユーザページを非公開にする
      <%= f.label :private, :class => 'mdl-switch mdl-js-switch mdl-js-ripple-effect' do %>
        <%= f.check_box :private, {:class => 'mdl-switch__input'} %>
        <span class="mdl-switch__label"></span>
      <% end %>
    </div>

    <div>
      iCalendar、RSSフィードをランダムなURLで出力する
      <%= f.label :random_url, :class => 'mdl-switch mdl-js-switch mdl-js-ripple-effect' do %>
        <%= f.check_box :random_url, {:class => 'mdl-switch__input'} %>
        <span class="mdl-switch__label"></span>
      <% end %>
    </div>
  <% end %>
</div>
