<ul class="product-list">
  <% user_products.each do |user_product| %>
    <%= render(:layout => 'products/list_element', :locals => {:list_element => user_product.product}) do %>
      <% if @user == @login_user %>
        <div class="tags">
          <% shelf_item = shelf_items.find{|item| item.product_id == user_product.product.id } %>
          <ul>
            <% if shelf_item.present? %>
              <% shelf_item.tags.each do |tag| %>
                <li>
                  <%= link_to :controller => :user_products, :action => :show, :id => @login_user.id, :keyword => tag do %>
                    <i class="icon icon-tag"></i>
                    <span><%= tag %></span>
                  <% end %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>

        <div class="buttons-margin"></div>
        <div class="buttons">
          <% if shelf_item.present? %>
            <%= form_for shelf_item do %>
            <% end %>
          <% end %>
          <%= link_to '#', :class => 'button fill-blue text-white ignore', :data => {"product-id" => user_product.product.id} do %>
            <i class="icon icon-trash"></i>
          <% end %>

          <%= link_to '#', :class => 'button fill-blue text-white tag', :data => {:modal => "product-#{user_product.product.id}"} do %>
            <i class="icon icon-tag"></i>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</ul>

<script id="tags-template" type="text/x-jquery-tmpl">
  <li>
    <%= link_to "${link}" do %>
      <i class="icon icon-tag"></i>
      <span>${value}</span>
    <% end %>
  </li>
</script>

<% user_products.each do |user_product| %>
  <% product = user_product.product %>
  <div class="product modal" style="display: none" id="product-<%= product.id %>" data-id="<%= product.id %>">
    <div class="modal-inner">
      <div class="fill-white card">
        <div class="header fill-blue text-white">
          <%= product.title %>
        </div>

        <div class="body">
          <%= form_for UserProduct.new do %>
            <%
              shelf_item = shelf_items.find{|item| item.product_id == product.id }
              tags = []
              tags = shelf_item.tags if shelf_item.present?
              tags_str = ''
              tags_str = "[#{tags.join('][')}]" unless tags.blank?
            %>
            <%= label_tag "tags-#{product.id}", 'タグ' %>
            <%= text_field_tag 'tags', tags_str, :id => "tags-#{product.id}", :placeholder => '[今度読む][文庫][注文済み]' %>
            <ul class="tag-selector">
              <% @user.tags.to_a.sort{|a,b| b.last <=> a.last }.map{|e| e.first }[0, 20].each do |tag| %>
                <li class="<%= 'selected' if tags.include?(tag) %>">
                  <i class="icon icon-tag"></i>
                  <span><%= tag %></span>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>

        <div class="footer">
          <div class="left">
            <%= link_to "#",
              :class => 'button fill-blue text-white close' do %>
              <i class="icon icon-cross"></i>
              閉じる
            <% end %>
          </div>

          <div class="right">
            <%= link_to "#",
              :class => 'button fill-blue text-white tags-update' do %>
              <i class="icon icon-checkmark"></i>
              更新する
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script id="tag-selector-template" type="text/x-jquery-tmpl">
  <li>
    <i class="icon icon-tag"></i>
    <span>${value}</span>
  </li>
</script>
