<ul class="product-list">
  <% user_products.each do |user_product| %>
    <%= render(:layout => 'products/list_element', :locals => {:list_element => user_product.product}) do %>
      <% if @user == @login_user %>
        <div class="tags">
          <% shelf_item = shelf_items.find{|item| item.product_id == user_product.product.id } %>
          <ul>
            <% if shelf_item.present? %>
              <% shelf_item.tags.each do |tag| %>
                <li>
                  <%= link_to :controller => :user_products, :action => :show, :id => @login_user.id, :keyword => tag do %>
                    <i class="icon icon-tag"></i>
                    <span><%= tag %></span>
                  <% end %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>

        <div class="buttons-margin"></div>
        <div class="buttons">
          <% if shelf_item.present? %>
            <%= form_for shelf_item do %>
            <% end %>
          <% end %>
          <button class="mdl-button mdl-js-button mdl-button--icon ignore button" data-product-id="<%= user_product.product.id %>">
            <i class="material-icons">delete</i>
          </button>

          <button class="mdl-button mdl-js-button mdl-button--icon tag button" data-modal="product-<%= user_product.product.id %>">
            <i class="material-icons">bookmark</i>
          </button>
        </div>
      <% end %>
    <% end %>
  <% end %>
</ul>

<script id="tags-template" type="text/x-jquery-tmpl">
  <li>
    <%= link_to "${link}" do %>
      <span>${value}</span>
    <% end %>
  </li>
</script>

<% user_products.each do |user_product| %>
  <% product = user_product.product %>
  <dialog class="product modal mdl-dialog" id="product-<%= product.id %>" data-id="<%= product.id %>">
    <h4 class="mdl-dialog__title"><%= product.title %></h4>
    <div class="mdl-dialog__content">
      <%= form_for UserProduct.new do %>
        <%
          shelf_item = shelf_items.find{|item| item.product_id == product.id }
          tags = []
          tags = shelf_item.tags if shelf_item.present?
          tags_str = ''
          tags_str = "[#{tags.join('][')}]" unless tags.blank?
        %>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= text_field_tag 'tags', tags_str, :id => "tags-#{product.id}", :class => 'mdl-textfield__input' %>
          <%= label_tag "tags-#{product.id}", 'タグ', :class => 'mdl-textfield__label' %>
        </div>
        <ul class="tag-selector">
          <% @user.tags.to_a.sort{|a,b| b.last <=> a.last }.map{|e| e.first }[0, 20].each do |tag| %>
            <li class="<%= 'selected' if tags.include?(tag) %>">
              <span><%= tag %></span>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <div class="mdl-dialog__actions">
      <button type="button" class="mdl-button button close tags-update">更新</button>
      <button type="button" class="mdl-button close">キャンセル</button>
    </div>
  </dialog>
<% end %>

<script id="tag-selector-template" type="text/x-jquery-tmpl">
  <li>
    <span>${value}</span>
  </li>
</script>
