<ul class="product-list">
  <% user_products.each do |user_product| %>
    <% product = user_product.product %>
    <li>
      <div class="mod mod-cards">
        <div class="card fill-white">
          <div class="title">
            <%= link_to product.title, product_path(:id => product.ean) %>
          </div>

          <div class="content">
            <div class="thumbnail">
              <%= link_to product_path(:id => product.ean) do %>
                <% if product.image_small.present? %>
                  <%= image_tag(product.image_small, :alt => product.title) %>
                <% else %>
                  <%= image_tag('dummy_small.png', :alt => product.title) %>
                <% end %>
              <% end %>
            </div>

            <div class="details">
              <table>
                <% if product.authors.present? %>
                  <tr>
                    <th><%= author_label product.category %></th>
                    <td>
                      <ul>
                        <% product.authors.each do |author| %>
                          <li>
                            <%= link_to author, products_path(:value => author, :category => product.category) %>
                          </li>
                        <% end %>
                      </ul>
                    </td>
                  </tr>
                <% end %>

                <tr>
                  <th><%= maker_label product.category %></th>
                  <td><%= product.manufacturer %></td>
                </tr>

                <tr>
                  <th>発売日</th>
                  <td>
                    <%= display_time product %>
                    <%= countdown(product.release_date) if product.a_release_date_fixed %>
                  </td>
                </tr>
              </table>
            </div>
          </div>

          <% if @user == @login_user %>
            <div class="buttons-margin"></div>
            <div class="buttons">
              <%= link_to '#', :class => 'button fill-blue text-white ignore', :data => {:ean => product.id} do %>
                <i class="icon icon-trash"></i>
              <% end %>

              <%= link_to '#', :class => 'button fill-blue text-white tag', :data => {:modal => "product-#{product.id}"} do %>
                <i class="icon icon-tag"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<% user_products.each do |user_product| %>
  <% product = user_product.product %>
  <div class="product modal" style="display: none" id="product-<%= product.id %>" data-id="<%= product.id %>">
    <div class="modal-inner">
      <div class="fill-white card">
        <div class="header fill-blue text-white">
          <%= product.title %>
        </div>

        <div class="body">
          <%= form_for UserProduct.new do %>
            <%
              shelf_item = @shelf_items.find{|item| item.product_id == product.id }
              tags = []
              tags = shelf_item.tags if shelf_item.present?
              tags_str = ''
              tags_str = "[#{tags.join('][')}]" unless tags.blank?
            %>
            <%= label_tag "tags-#{product.id}", 'タグ' %>
            <%= text_field_tag 'tags', tags_str, :id => "tags-#{product.id}", :placeholder => '[今度読む][文庫][注文済み]' %>
            <ul class="tag-selector">
              <% @user.tags.to_a.sort{|a,b| b.last <=> a.last }.map{|e| e.first }[0, 20].each do |tag| %>
                <li class="<%= 'selected' if tags.include?(tag) %>">
                  <i class="icon icon-tag"></i>
                  <span><%= tag %></span>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>

        <div class="footer">
          <div class="left">
            <%= link_to "#",
              :class => 'button fill-blue text-white close' do %>
              <i class="icon icon-cross"></i>
              閉じる
            <% end %>
          </div>

          <div class="right">
            <%= link_to "#",
              :class => 'button fill-blue text-white tags-update' do %>
              <i class="icon icon-checkmark"></i>
              更新する
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script id="tag-selector-template" type="text/x-jquery-tmpl">
  <li>
    <i class="icon icon-tag"></i>
    <span>${value}</span>
  </li>
</script>
