<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" />

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

    <title><%= @title %>: <%= Ishibashi::Application.config.title %></title>

    <%= yield(:head) %>
  </head>

  <body class="<%= params[:controller] %>">
    <div id="header">
      <div class="banner">
        <%= link_to image_tag('logo.png', :alt => Ishibashi::Application.config.title), etc_index_path %>
      </div>

      <div class="navigation">
        <div class="tile fill-blue">
          <div class="button flat text-white relative top-nav desktop-nav">
            <span>
              <% if @login_user.present? %>
                <i class="icon icon-user"></i>
                <%= @login_user.nickname %>
              <% else %>
                ゲスト
              <% end %>
              <i class="icon icon-arrow-down6"></i>
            </span>

            <div class="drop down right card fill-white">
              <div class="crow up no-gutter keep-alive">
                <div class="ws-12">
                  <ul class="unstyled">
                    <% if @login_user.present? %>
                      <li>
                        <%= link_to '発売日一覧',
                          {
                            :controller => :users,
                            :action => :show,
                            :domain_name => @login_user.domain_name,
                            :screen_name => @login_user.screen_name
                          },
                          :class => 'waves-effect list-item' %>
                      </li>

                      <li>
                        <%= link_to '設定',
                          {:controller => :keywords, :action => :index},
                          :class => 'waves-effect list-item' %>
                      </li>
                    <% end %>

                    <li>
                      <% if @login_user.blank? %>
                        <%= link_to "ログイン",
                          {:controller => :users, :action => :login},
                          :class => 'waves-effect list-item' %>
                      <% else %>
                        <%= link_to "ログアウト",
                          {:controller => :users, :action => :logout},
                          :class => 'waves-effect list-item' %>
                      <% end %>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= yield %>

    <div id="footer">
      <div id="banners" class="crow">
        <a href="http://www.amazon.com/"><img src="http://g-ecx.images-amazon.com/images/G/01/00/00/00/64/82/48/64824821._V17009279_.jpg" alt="powered by amazon web services." /></a>

        <!-- Rakuten Web Services Attribution Snippet FROM HERE -->
        <a href="http://webservice.rakuten.co.jp/" target="_blank"><img src="http://webservice.rakuten.co.jp/img/credit/200709/credit_7052.gif" border="0" alt="楽天ウェブサービスセンター" title="楽天ウェブサービスセンター" width="70" height="52"/></a>
        <!-- Rakuten Web Services Attribution Snippet TO HERE -->

        <a href="http://ame.yumenosora.net/"><img src="http://static.yumenosora.net/common/images/brandlogo.png" alt="雨上がりの青空を探して"></a>
      </div>
    </div>
  </body>
</html>
